[submodule "packages/audiokit"]
	path = packages/audiokit
	url = https://github.com/epsilon-records/audiokit
[submodule "ai-instruction-tag"]
	path = ai
	url = https://github.com/natehouk/RFC_AI-0001-ai-instruction-tag
[submodule "markai"]
	path = markai
	url = https://github.com/natehouk/markai
[submodule ".markai/markai"]
	path = .markai/markai
	url = https://github.com/natehouk/markai
